.bg-1 {
  min-height: 851px;
  background: url("../img/bg-0.png") top center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(md) {
    background-size: cover;
    background: url("../img/bg-0.jpg") top center no-repeat;
  }
  @include media-breakpoint-down(sm) {
    background-size: 200vw auto;
  }
}


.bg-4 {
  min-height: 730px;
  background: url("../img/bg-4.jpg") bottom center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
    background-size: cover;
  }
  @include media-breakpoint-down(md) {
    background-size: 130vw auto;
    background-position: center left;
  }
  @include media-breakpoint-down(xs) {
    background-image: none;
  }
}

.bg-5 {
  margin-top: 20px;
  min-height: 682px;
  background: url("../img/bg-5.jpg") top center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
    background-position: 45% top;
  }
}

.bg-8 {
  margin-top: -60px;
  min-height: 713px;
  background: url("../img/bg-8.jpg") bottom center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
}

