$color-placeholder: rgba(51,51,51,1);
$color-input: rgb(51,51,51);
.user-input {
  display: inline-flex;
  width: 100%;
  align-items: center;
  border: none;
  height: 50px;
  border-radius: 5px;
  background-color: #e9e5e5;
  padding: 0 30px;
  margin: 0;
  outline: none;
  color: $color-input;
  @include text(16px);
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:active, &:focus {
    border: 1px solid #f19123;
  }
  @include media-breakpoint-down(sm) {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
  }
}
textarea.user-input {
  max-width: 100%;
  height: 170px;
  line-height: 1.3;
  padding-top: 25px;
  padding-bottom: 25px;
}


::-webkit-input-placeholder {
  color: $color-placeholder;
  opacity: 0.7;
}

::-moz-placeholder {
  color: $color-placeholder;
  opacity: 0.7;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: $color-placeholder;
  opacity: 0.7;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: $color-placeholder;
  opacity: 0.7;
}

