.navbar {
  height: 165px;
  background-color: transparent;
  padding: 0;
  transition: background-color ease 0.3s;


  .navbar-toggler .navbar-toggler-icon {
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    margin-right: 150px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-image: url("../img/ico/menu-close.svg");
    transition: all 0.3s ease;
  }
  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("../img/ico/menu-open.svg");
    background-size: 30px;
    border: none;
    outline: none;

  }
  .navbar-toggler {
    order: 1;
    position: relative;
    z-index: 210;
  }
  .navbar-collapse {
    order: 2;
  }
  .navbar-brand {
    order: 1;
    min-width: 100px;
  }
  .navbar-info {
    order: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    .phone {
      font-size: 20px;
      line-height: 1;
      padding-bottom: 7px;
      color: rgb(22, 22, 22);
      font-family: "Open Sans", 'Roboto', serif;
      text-align: center;
    }
    .button {
      width: 208px;
      height: 48px;
      border-radius: 24px;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  .navbar-nav {
    padding: 0 80px;
    width: 100%;
    justify-content: space-between;
    .nav-item.nav-link {
      font-size: 17px;
      color: rgb(0, 0, 0);
      font-family: "Roboto Condensed", serif;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      white-space: nowrap;
      &:hover, &:active, &.active {
        text-decoration: underline;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .navbar-nav {
      justify-content: center;
      padding: 0;
      .nav-item.nav-link {
        padding: 10px 0.75vw;
      }
    }
    .navbar-brand {
      margin: 0;
    }
  }

  @include media-breakpoint-down(md) {
    height: auto;
    padding-top: 10px;
    .navbar-info .phone {
      font-size: 18px;
    }
    .navbar-toggler .navbar-toggler-icon {
      margin-right: auto;
    }
    .navbar-nav .nav-item.nav-link {
      text-align: left;
    }
    .navbar-collapse {
      position: absolute;
      z-index: 200;
      top: 0;
      left: -15px;
      padding: 100px 30px 20px;
      //background-color: #f9aa06;
      background-image: linear-gradient(0deg, #f19f05 0%, #fdd54d 100%);
      transition: height 0.2s ease-in;
    }

  }
  @include media-breakpoint-down(sm) {
    .navbar-info {
      order: 2;
      padding-bottom: 0;
      .button {
        display: none;
      }
    }
    .navbar-brand {
      order: 3;
      min-width: 50px;
      max-width: 70px;
      width: 18vw;
    }

  }
  @include media-breakpoint-down(xs) {
    .navbar-toggler {
      padding: 0;
    }
    .navbar-collapse {
      right: -15px;
      height: 100vh;

    }
  }
}