$color-text: #05161C;           //rgb(5,22,28)
$color-text-light: #37393A;     //rgb(55,57,58)
$color-text-btn: #262626;       //rgb(38,38,38)
$color-title: $color-text;
$color-text-bg-yellow: #212223; //rgb(33,34,35)
$color-green: rgb(99,126,29);
$color-yellow: #ffcd2d;
$color-text-w: #fff;
$color-red: #fd0838;
$color-gray: #5d5d5d;

$color-bg-black: #212121;
$color-bg-light: #d2dde4;
$color-bg-blue: #336ed3;
$color-bg-green: rgb(136,167,56);

//$tablet-widths: ~"(max-width: 1230px)";/* */
//$mobil-widths: ~"(max-width: 767px)";/* */

//$desktop-widths-only: ~"(min-width: 1230px)"; /* */

$height-footer: 208px;
$height-footer-sm: 208px;
$height-footer-xs: 208px;
$nav-min-height: 140px;
$nav-min-height-mobil: 50px;
$nav-min-height-scroll: 122px;
