@import "blocks/bs/bootstrap.scss";
@import "variables";
@import "scaffolding";
@import "bg";
@import "navbar";
@import "modal";
@import "input";
@import "button";
@import "social";
@import "ch-wrapper";
@import "fs";
@import "about";
@import "lands";
@import "scool";
@import "busines";
@import "benefit";
@import "trainer";
@import "extra";
@import "format";
@import "client";
@import "service";
@import "footer";
//@import "slider";

body {

}

.wrapper-x {
  overflow: hidden !important;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;

}

.wrapper-y {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
 // padding-bottom: $height-footer;
  @include media-breakpoint-down(sm) {
    //padding-bottom: $height-footer-xs;
  }
}

.container-fluid {
  max-width: 1200px;
  position: relative;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.sepia {
  filter: sepia(100%);
}

.engrave {
  filter: grayscale(100%);
}

.shadow {
  filter: drop-shadow(0px 0px 10px rgba(133, 37, 76, 0.25));
}